<div class="row">
  {{#if this.hasMessages}}
    <ul class="msg">
      {{#each this.messages.errors as |message|}}
        <li class="msg msg-error">{{message}}</li>
      {{/each}}
      {{#each this.messages.success as |message|}}
        <li class="msg msg-success">{{message}}</li>
      {{/each}}
      {{#each this.messages.fieldErrors as |msg|}}
        <li class="msg msg-error">{{msg.class_name}} {{msg.property}} : {{msg.message}}</li>
      {{/each}}
      <li>
        <button type="button" {{on "click" this.clearMessages}} class="tiny button secondary">
          <span class="close">✗ Close messages</span>
        </button>
      </li>
    </ul>
  {{/if}}
</div>