<button class="label" {{action "launchModal"}}>{{text}}</button>

{{#if confirmShown}}
  <div class="modal modal--active">
    <div class="panel callout radius select">
      <div>{{yield results}}</div>
      <div class="grid-x grid-padding-x align-spaced">
        <div class="row">
          <Input @type="text" class="light" placeholder="Search..." @value={{search}} @input={{action "query"}} />
        </div>
        <button class="success button" {{action "submitConfirm"}}>OK</button>
        <button class="alert button" {{action "cancelConfirm"}}>Cancel</button>
      </div>
    </div>
  </div>
{{/if}}