<button type="button" class="label" {{on "click" this.launchModal}}>{{@text}}</button>

{{#if this.confirmShown}}
  <div class="modal modal--active">
    <div class="panel callout radius select">
      <div>{{yield this.results}}</div>
      <div class="grid-x grid-padding-x align-spaced">
        <div class="row">
          <Input @type="text" class="light" placeholder="Search..." @value={{this.search}} @input={{this.query}} />
        </div>
        <button type="button" class="success button" {{on "click" this.submitConfirm}}>OK</button>
        <button type="button" class="alert button" {{on "click" this.cancelConfirm}}>Cancel</button>
      </div>
    </div>
  </div>
{{/if}}