<fieldset class="large-8 columns">
  <legend>Customer</legend>

  <div class="row">
    <div class="large-4 columns">
      <label>Id</label>
      <h5>{{#if model.id}} {{model.id}} {{else}} New {{/if}}</h5>
    </div>
  </div>

  <div class="row">
    <div class="large-10 columns">
      <label>First Name</label>
      {{input value=model.firstName class="light" placeholder="First Name"}}
    </div>
  </div>

  <div class="row">
    <div class="large-10 columns">
      <label>Last Name</label>
      {{input value=model.lastName class="light" placeholder="Last Name"}}
    </div>
  </div>

  {{#if model.id}}
    {{#if model.hasDirtyAttributes}}
      <button {{action "update" model}} class="button small radius active"> Update </button>
    {{else}}
      <button class="button small radius disabled" disabled="disabled"> Update </button>
    {{/if}}
  {{else}}
    <button {{action "update" model}} class="button small radius active"> Save </button>
  {{/if}}
  <button {{action "cancel" model}} class="button small radius secondary"> Cancel </button>

</fieldset>

{{outlet}}