{{#linkTo order.new}}<button class="small"> New Order </button>{{/linkTo}}
<table>
  <thead>
    <tr>
      <th width="100">ID</th>
      <th width="200">Customer</th>
      <th>Creation Date</th>
      <th>Items</th>
      <th>Items Qty</th>
      <th>Total</th>
      <th> </th>
    </tr>
  </thead>
  <tbody>
    {{#each controller}}
    <tr>
      <td>{{#linkTo order this}} {{id}} {{/linkTo}}</td>
      <td>{{customer.fullName}}</td>
      <td>{{creationDate}}</td>
      <td>{{items.length}}</td>
      <td>{{totalItems}}</td>
      <td>{{money totalPrice}}</td>
      <td><button {{action delete this}} class="button tiny radius alert"> Delete </button></td>
    </tr>
    {{else}}
    <tr><td colspan="7"></td></tr>
    <tr>
      <td colspan="7" class="nodata">No orders found</td>
    </tr>
    {{/each}}
  </tbody>
</table>