{{#view App.FormView}}
  <fieldset class="large-8 columns">
    <legend>Product</legend>

    <div class="row">
      <div class="large-3 columns">
        <label>Id</label>
        <h5>{{#if id}} {{id}} {{else}} New {{/if}}</h5>
      </div>
    </div>

    <div class="row">
      <div class="large-8 columns">
        <label>Name</label>
        {{view App.TextField valueBinding="name" placeholder="Product Name"}}
      </div>
    </div>

    <div class="row">
      <div class="large-12 columns">
        <label>Description</label>
        {{view App.TextField valueBinding="description" placeholder="Product Description"}}
      </div>
    </div>

    <div class="row">
      <div class="large-4 columns">
        <label>Price</label>
        {{view App.MoneyField valueBinding="price" placeholder="Price"}}
      </div>
    </div>

    {{#if id}}
      {{#if canUpdate}}
        <button {{action update}} class="small"> Update </button>
      {{else}}
        <button class="small disabled"> Update </button>
      {{/if}}
    {{else}}
        <button {{action update}} class="small"> Save </button>
    {{/if}}
  </fieldset>
{{/view}}