<div id="message-notifications" class="fixed-top">
  {{#if this.messaging.hasMessages}}
    <ul class="list-group">
      {{#each this.errors as |message|}}
        <li class="list-group-item list-group-item-danger">{{message}}</li>
      {{/each}}
      {{#each this.success as |message|}}
        <li class="list-group-item list-group-item-success">{{message}}</li>
      {{/each}}
      {{#each this.fieldErrors as |msg|}}
        <li class="list-group-item list-group-item-danger">{{msg.class_name}} {{msg.property}} : {{msg.message}}</li>
      {{/each}}
      <li class="list-group-item text-sm-center">
          <button id="closeMessages" type="button" {{on "click" this.clearMessages}} class="close float-none" aria-label="Close">
            <span aria-hidden="true" class="close">Close Messages &times;</span>
          </button>
      </li>
    </ul>
  {{/if}}
</div>
{{yield}}