<button type="button" class="label" data-toggle="modal" {{on "click" this.launchModal}} data-target="#{{@id}}Modal">{{@text}}</button>

{{#if this.confirmShown}}
  <div class="modal fade" id="{{@id}}Modal" tabindex="-1" role="dialog" aria-labelledby="{{@id}}ModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="{{@id}}ModalLabel">{{@title}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div>{{yield this.results}}</div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" {{on "click" this.cancelConfirm}}>Close</button>
          <button type="button" class="btn btn-primary" {{on "click" this.submitConfirm}}>Save changes</button>
        </div>
      </div>
    </div>
  </div>
{{/if}}