<fieldset>
  <legend>Order</legend>

  <div class="row grid-x grid-padding-x">
    <div class="cell small-2">
      <label>Id</label>
    </div>
    <div class="cell small-4">
      <h5>{{#if model.id}} {{model.id}} {{else}} New {{/if}}</h5>
    </div>
  </div>

  <div class="row grid-x grid-padding-x">
    <div class="cell small-2">
      <label>Customer</label>
    </div>
    <div class="cell small-4">
      <h5>
        {{#if model.customer.id}}
          {{model.customer.firstName}} {{customer.lastName}}
        {{else}}
          No customers selected
        {{/if}}
      </h5>
    </div>
    <div class="cell small-4">
      <SelectModal @filter={{action "filterCustomers"}} @text="Select Customer" as |results|>
        <table>
          <thead>
            <tr>
              <th>First Name</th>
              <th>Last Name</th>
            </tr>
          </thead>
          <tbody>
            {{#each results as |customer|}}
              <tr {{action "selectCustomer" customer}} role="button">
                <td>{{customer.firstName}}</td>
                <td>{{customer.lastName}}</td>
              </tr>
            {{else}}
              <tr>
                <td colspan="2"> No customers found </td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </SelectModal>
    </div>
  </div>

  <div class="grid-x grid-padding-x">
    <div class="cell small-2">
      <label>Total Order Cost:</label>
    </div>
    <div class="cell small-4">
      <h5 class="secondary">{{#if model.id}}{{format-currency model.totalPrice}}{{/if}}</h5>
    </div>
    <div class="cell small-4">
      <SelectModal @filter={{action "filterProducts"}} @text="Select Items" as |results|>
        <table>
          <thead>
            <tr>
              <th>Name</th>
              <th>Description</th>
              <th>Price</th>
            </tr>
          </thead>
          <tbody>
            {{#each results as |product|}}
              <tr {{action "selectProduct" product}} role="button">
                <td>{{product.name}}</td>
                <td>{{product.description}}</td>
                <td>{{product.price}}</td>
              </tr>
            {{else}}
              <tr>
                <td colspan="2"> No products found </td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </SelectModal>
    </div>
  </div>

  <div class="row">
    <div class="row">
      <span>&nbsp;</span>
    </div>
    <div class="large-12 columns">
      <table>
        <thead>
          <tr>
            <th width="150">Product Name</th>
            <th width="300">Product Desc</th>
            <th>Price</th>
            <th>Qty</th>
            <th>Total</th>
            <th> </th>
          </tr>
        </thead>
        <tbody>
          {{#each model.items as |item|}}
            <tr>
              <td>{{item.product.name}}</td>
              <td>{{item.product.description}}</td>
              <td>{{format-currency item.product.price}}</td>
              <td><Input @value={{item.quantity}} class="light" placeholder="Quantity" /></td>
              <td>{{format-currency item.totalPrice}}</td>
              {{!-- <td><button {{action deleteItem this}} class="button tiny radius alert"> Delete </button></td> --}}
            </tr>
          {{else}}
            <tr>
              <td colspan="6"></td>
            </tr>
            <tr>
              <td colspan="6" class="nodata">No itens added</td>
            </tr>
          {{/each}}
          {{#if totalItems}}
            <tr>
              <td colspan="3" class="total">
                <h5 class="secondary right">Grand Total</h5>
              </td>
              <td class="total">
                {{!-- <h5 class="secondary">{{totalItems}}</h5> --}}
              </td>
              <td class="total">
                {{!-- <h5 class="secondary">{{format-currency totalPrice}}</h5> --}}
              </td>
              <td class="total"></td>
            </tr>
          {{/if}}
        </tbody>
      </table>
    </div>
  </div>

  {{#if model.id}}
    {{#if model.hasDirtyAttributes}}
      <button {{action "update" model}} class="button small radius active"> Update </button>
    {{else}}
      <button class="button small radius disabled" disabled="disabled"> Update </button>
    {{/if}}
  {{else}}
    <button {{action "update" model}} class="button small radius active"> Save </button>
  {{/if}}
  <button {{action "cancel" model}} class="button small radius secondary"> Cancel </button>

</fieldset>

<hr>

{{outlet}}
