<fieldset class="large-8 columns">
  <legend>Product</legend>

  <div class="row">
    <div class="large-4 columns">
      <label>Id</label>
      <h5>{{#if model.id}} {{model.id}} {{else}} New {{/if}}</h5>
    </div>
  </div>

  <div class="row">
    <div class="large-4 columns">
      <label>Name</label>
      {{input value=model.name class="light" placeholder="Product Name"}}
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <label>Description</label>
      {{input value=model.description class="light" placeholder="Description"}}
    </div>
  </div>

  <div class="row">
    <div class="large-4 columns">
      <label>Price</label>
      {{input value=model.price class="light" placeholder="0,00"}}
    </div>
  </div>

  {{#if model.id}}
    {{#if model.hasDirtyAttributes}}
      <button {{action "update" model}} class="button small radius active"> Update </button>
    {{else}}
      <button class="button small radius disabled" disabled="disabled"> Update </button>
    {{/if}}
  {{else}}
    <button {{action "update" model}} class="button small radius active"> Save </button>
  {{/if}}
  <button {{action "cancel" model}} class="button small radius secondary"> Cancel </button>

</fieldset>

<hr>
{{outlet}}