<ToggleEditor @route="customers.edit" @title="New Customer" @collapsed={{this.collapsed}} @toggle={{this.toggle}} />

<table class="table table-striped">
  <thead class="thead-light">
    <tr>
      <th scope="col" width="100">ID</th>
      <th scope="col">First Name</th>
      <th scope="col" width="200">Last Name</th>
      <th scope="col">Orders</th>
      <th scope="col"> </th>
    </tr>
  </thead>
  <tbody>
    {{#each this.model as |customer|}}
    <tr>
      <th scope="row">
        <LinkTo @route="customers.edit" @model={{customer}} {{on "click" this.openEditor}}> {{customer.id}} </LinkTo>
      </th>
      <td>{{customer.firstName}}</td>
      <td>{{customer.lastName}}</td>
      <td>{{customer.orders.length}}</td>
      <td><button type="button" class="btn btn-danger btn-sm" {{on "click" (fn this.remove customer)}}> Delete </button>
      </td>
    </tr>
    {{else}}
    <tr>
      <td colspan="5"></td>
    </tr>
    <tr>
      <td colspan="5" class="nodata">
        <h3>No customers found</h3>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>