<LinkTo @route="orders.edit" @model="new"><button type="button" class="button small"> New Order </button></LinkTo>

{{outlet}}

<table>
  <thead>
    <tr>
      <th width="100">ID</th>
      <th width="200">Customer</th>
      <th>Creation Date</th>
      <th>Items</th>
      <th>Items Qty</th>
      <th>Total</th>
      <th>X</th>
    </tr>
  </thead>
  <tbody>
    {{#if this.model.isEmpty}}
      <tr>
        <td colspan="7"></td>
      </tr>
      <tr>
        <td colspan="7" class="nodata">No orders found</td>
      </tr>
    {{else}}
      {{#each this.model as |order|}}
        <tr>
          <td><LinkTo @route="orders.edit" @model={{order}}> {{order.id}} </LinkTo></td>
          <td>{{order.customer.firstName}} {{order.customer.lastName}}</td>
          <td>{{order.creationDate}}</td>
          <td>{{order.totalQuantity}}</td>
          <td>{{order.items.length}}</td>
          <td>{{order.totalItems}}</td>
          <td>{{format-currency order.totalPrice}}</td>
          <td><button type="button" {{on "click" (fn this.remove order)}} class="button tiny radius alert"> Delete </button></td>
        </tr>
      {{/each}}
    {{/if}}
  </tbody>
</table>