<ToggleEditor @route="orders.edit" @title="New Order" @collapsed={{this.collapsed}} @toggle={{this.toggle}} />

<BsCollapse @collapsed={{this.notCollapsed}}>
  <div class="well">
    <table class="table table-striped">
      <thead class="thead-light">
        <tr>
          <th scope="col" width="100">ID</th>
          <th scope="col" width="200">Customer</th>
          <th scope="col">Creation Date</th>
          <th scope="col">Items</th>
          <th scope="col">Items Qty</th>
          <th scope="col">Total</th>
          <th scope="col">X</th>
        </tr>
      </thead>
      <tbody>
        {{#each this.model as |order|}}
        <tr>
          <th scope="row">
            <LinkTo @route="orders.edit" @model={{order}} {{on "click" this.openEditor}}> {{order.id}} </LinkTo>
          </th>
          <td>{{order.customer.fullName}}</td>
          <td>{{to-locale-date order.creationDate}}</td>
          <td>{{order.items.length}}</td>
          <td>{{order.totalQuantity}}</td>
          <td>{{format-currency order.totalPrice}}</td>
          <td><button type="button" {{on "click" (fn this.remove order)}} class="btn btn-danger btn-sm"> Delete </button>
          </td>
        </tr>
        {{else}}
        <tr>
          <td colspan="7"></td>
        </tr>
        <tr>
          <td colspan="7" class="nodata">
            <h3>No orders found</h3>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</BsCollapse>
