<LinkTo @route="products.edit" @model="new"><button type="button" class="button small"> New Product </button></LinkTo>

{{outlet}}

<table>
  <thead>
    <tr>
      <th width="100">ID</th>
      <th>Name</th>
      <th width="200">Description</th>
      <th>Price</th>
      <th> </th>
    </tr>
  </thead>
  <tbody>
    {{#if this.model.isEmpty}}
      <tr>
        <td colspan="5"></td>
      </tr>
      <tr>
        <td colspan="5" class="nodata">No products found</td>
      </tr>
    {{else}}
      {{#each this.model as |product|}}
        <tr>
          <td><LinkTo @route="products.edit" @model={{product}}> {{product.id}} </LinkTo></td>
          <td>{{product.name}}</td>
          <td>{{product.description}}</td>
          <td>{{format-currency product.price}}</td>
          <td><button type="button" {{on "click" (fn this.remove product)}} class="button tiny radius alert"> Delete </button></td>
        </tr>
      {{/each}}
    {{/if}}
  </tbody>
</table>